{{ form_start(form) }}
{{ form_errors(form.name) }}
<div class="mb-3">
    {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

</div>
{{ form_errors(form.surname) }}
<div class="mb-3">
    {{ form_label(form.surname, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
</div>
{{ form_errors(form.email) }}
<div class="mb-3">
    {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
</div>
{{ form_errors(form.avatar) }}
<div class="mb-3">
    {{ form_label(form.avatar, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}

</div>
<img class="add-img-btn" src="">
<div class="mb-3">
    {{ form_label(form.discipline, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.discipline, {'attr': {'class': 'form-control'}}) }}
</div>

{{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}

{{ form_end(form) }}

<script>
    $(document).ready(function() {
        var readURL = function (input, previewBlock) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    previewBlock.attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
                console.log('file ues')
            } else {
                console.log('file not')
            }
        };

        $('input[type=file]').change(function () {
            var screenImg = $('img.add-img-btn');
            readURL(this, screenImg);
            screenImg.css({
                'max-width': '200px',
                'height': '100%',
                'margin-top': '10px',
                'margin-bottom': '10px',
            })
        });
        // you may need to change this code if you are not using Bootstrap Datepicker
        /*$('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });*/
    });
</script>

<style>
    li{
        list-style: none;
        color:red;
    }
</style>